.nav {
  height: 50px;
  background-color: var(--second-color);
  top: 0;
  z-index: 100;
  display: none;
  position: fixed;

}

.nav > .nav-header {
  position: absolute;
  top: 15px;
  background-color: var(--first-color);
  padding: 10px;
  left: 50%;
  width: 134px;
  font-family: RalewayBold, WorkSans, sans-serif;
  text-align: center;
  transform: translateX(-50%);
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: left;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav > .nav-header {
    position: absolute;
    top: 0px;
    padding: 2px;
    transform: translateX(-50%);
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    bottom: 50px;
    left: 0;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(25vh - 50px);
    overflow-y: auto;
  }
  .sticky {
    bottom: 0;
    top: initial !important;
  }
}
.sticky {
  position: -webkit-sticky;
  position: fixed;
  display: inline-block;
  top: 0;
  z-index: 1000;
}
